
.outer_cover_table{position:relative; font-family:'supermarket';}

.appointment_cover_table{position:relative; height:573px; border:solid 1px #b9b9b6; overflow-x: hidden; overflow-y:scroll;}

#table1{width:229px; border:none; background-color:#fff;}
#table1 td{border-right:solid 1px #ddd;}
#table2{position:relative; width:2161px; border:none; background-color:#fff;}
.tb_head1{width:229px;}

.table{margin:0;}
.table tbody tr td{padding:8px; vertical-align:middle;}
.tb1 th{width:90px; height:45px; line-height:45px; text-align:center; visibility:hidden;}
.tb1 td{width:90px; height:80px; line-height:80px;}

.btn_blue{display:inline-block; width:100%; line-height:35px; text-align:center; border-radius:15px; background:#4285f4; color:#fff;}
.btn_blue:hover{opacity:0.8; color:#fff; text-decoration:none;}
.btn_blue:active{}

.cover_table1, .cover_table2{position:relative; display:inline-block; vertical-align:top; z-index:1;}
.cover_table1{width:230px;}
.cover_table2{height:573px; overflow-x:scroll; overflow-y:hidden;}

.cover_head{position:absolute; top:0; left:0; overflow:hidden;}
.cover_inner_head2{display:inline-block; width:80%; overflow:hidden;}
.cover_inner_head2 table th{height:45px; text-align:center;}


.display_box figure{display:inline-block; width:55px; height:55px; border-radius:55px; overflow:hidden; border:solid 2px #b9b9b6; vertical-align:middle;}
.display_box figure img{width:55px;}
.display_box .display_detail{display:inline-block; padding-left:10px; vertical-align:middle;}
.display_box .display_detail h5{margin-top:5px; margin-bottom:5px; width:145px; white-space:nowrap; overflow:hidden !important; text-overflow:ellipsis; font-size:15px;}
.display_box .display_detail p{margin:0; font-size:13px; color:#757373;}


.appointment_foot_box{position:relative; height:70px; border-left:solid 1px #b9b9b6; border-bottom:solid 1px #b9b9b6; border-right:solid 1px #b9b9b6; background-color:#f0efeb;}
.appointment_foot_box .calendar_box{position:absolute; padding:0px 0; top:14px; right:10px; height:40px; border:solid 2px #e2e6e9;}
.appointment_foot_box .calendar_box .date_btn{display:inline-block; padding:0 15px; height:38px; line-height:38px; font-size:17px; border-right:solid 2px #e2e6e9; color:#515151;}
.appointment_foot_box .calendar_box .date_btn:last-child{border:none;}
.appointment_foot_box .calendar_box .date_btn:hover{color:#515151; text-decoration:none; background-color:#e5e5e5;}

.table{max-width:auto;}

