
@font-face {
  font-family: 'supermarket';
  src: url('../fonts/supermarket.eot'); /* IE9 Compat Modes */
  src: url('../fonts/supermarket.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/supermarket.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/supermarket.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/supermarket.svg#svgFontName') format('svg'); /* Legacy iOS */
}

/*@font-face {*/
    /*font-family: 'MTCORSVA';*/
    /*src: url('../fonts/MTCORSVA.eot'); !* IE9 Compat Modes *!*/
    /*src: url('../fonts/MTCORSVA.eot?#iefix') format('embedded-opentype'), !* IE6-IE8 *!*/
    /*url('../fonts/MTCORSVA.woff') format('woff'), !* Pretty Modern Browsers *!*/
    /*url('../fonts/MTCORSVA.ttf')  format('truetype'), !* Safari, Android, iOS *!*/
    /*url('../fonts/MTCORSVA.svg#svgFontName') format('svg'); !* Legacy iOS *!*/
/*}*/
@font-face {
    font-family: 'mtcorsva';
    src: url('../fonts/MTCORSVA.eot');
    src: local('MTCORSVA'),
    url('../fonts/MTCORSVA.woff') format('woff'),
    url('../fonts/MTCORSVA.ttf') format('truetype');
}
.fontsforweb_fontid_6771 {
    font-family: 'MTCORSVA' !important;
}


html,body{height:100%;}

/**{font-family:'supermarket';}*/
.mar0{margin:0;}
.pad0{padding:0; text-align: center}
.mar_top30{margin-top:30px;}
.mar_top40{margin-top:40px;}



.bck_white{background-color:#fff;}
.bck_blue{background-color:#43b2fe;}
/*.bck_gray{background-color:#808080;}*/
.bck_grey{background-color:#dadada;height: 30px;}
.bck_li{background-color:#00c300; border:solid 1px #03a303;}
/*.bck_li i{border-right:solid 1px #03a303;}*/
.bck_fb{background-color:#3a5897; border:solid 1px #2d4d90;}
/*.bck_fb i{border-right:solid 1px #2d4d90;}*/
.bck_gg{background-color:#dc4a38; border:solid 1px #d03d2a;}
/*.bck_gg i{border-right:solid 1px #d03d2a;}*/
.title_color{color:#4c4949;}

.btn_social{height:35px; border-radius:4px; color:#fff;}
.btn_social a{display:inline-block; height:36px; text-align:center; color:#fff; text-decoration:none; margin-left: 20px;}
.btn_social i{display:inline-block; width:36px; height:36px; line-height:35px; font-size:20px;}
.btn_social span{padding-left:10px; font-size:16px;}
.btn_social:hover{opacity:0.8;}


/*.box_group input[type=text], .box_group button, .box_group select, .box_group .inline_input{background:#e5e5e5;*/
    /*background:-webkit-linear-gradient(#fdfdfd, #e5e5e5);*/
    /*background:-o-linear-gradient(#fdfdfd, #e5e5e5);*/
    /*background:-moz-linear-gradient(#fdfdfd, #e5e5e5);*/
    /*background:linear-gradient(#fdfdfd, #e5e5e5);}*/
.box_group input[type=text]{padding:0 20px; width:85%; height:36px; font-size:16px; border:solid 1px #ccc; border-radius:5px 0 0 5px; background-color:transparent; vertical-align:top; outline:0; font-family:'supermarket';}
.box_group button, .box_group .inline_input{display:inline-block; text-align:center; line-height:36px; width:15%; height:36px; border-top:solid 1px #ccc; border-radius:0 5px 5px 0; border-left:none; border-right:solid 1px #ccc; border-bottom:solid 1px #ccc; background-color:transparent; outline:0; font-family:'supermarket';}
.box_group select{padding:0 20px; width:100%; height:36px; font-size:16px; border:solid 1px #ccc; border-radius:5px 5px 5px 5px; background-color:transparent; vertical-align:top; outline:0; -moz-appearance:none; -webkit-appearance:none; appearance:none; font-family:'supermarket';}

.box_title_header{position:relative; padding: 0 15px; height:85px; font-family:'supermarket';}
.box_title_header .header_h1{position:relative; display:inline-block; padding:0 30px; height:90px; line-height:90px; text-shadow:2px 2px #dadada;}
.box_title_header .line_behind_h1{position:absolute; top:47px; left:50%; margin-left:-300px; width:600px; height:2px;}
.box_title_header .box_title_h{display:inline-block; font-size:20px; border-bottom:solid 2px #b9b9b6;}
.box_title_header .box_title_p{font-size:18px}
.box_title_header .box_title_p span{font-weight:bold; color:#148de0;}
.box_title_header .right_side_name{position:absolute; top:0; right:0; height:100px; line-height:100px; font-size:18px; color:#272727;}

/*.box_default{height:500px; border:solid 1px #f5f5f5; background:#fafbfa;}*/
.box_default{border:solid 1px #f5f5f5;}

/*.box_default .title_header{padding-left:5%; width:auto; height:80px; line-height:80px; border-bottom:solid 1px #e5e5e5; font-family:'supermarket';}*/
.box_default .title_header{padding-left:5%; width:auto; height:55px; line-height:35px;font-family:'supermarket';}
.title_content{margin-top:40px; font-size:18px; font-weight:bold; font-family:'supermarket';}

.box_radius{padding-bottom:70px; margin-top:30px;  font-family:'supermarket';background-color:rgba(169, 216, 250, 0.3);}
/*.box_radius{padding-bottom:30px; margin-top:30px; border:solid 1px #ccc; font-family:'supermarket';}*/

.btn-search{margin:34px; padding:5px; font-size:20px; color:#fff; border:none; width:23%; border-radius:30px; transition:0.5s; box-shadow:0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);}
.btn-search:hover{box-shadow:0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);}


.fix_height{height:calc(100% - 120px);}


/**************** Template Header ****************/
.main_frame{position:relative; height:100%;}
.header_box{position:relative; height:45px; font-family:'supermarket';}
.header_box #logo{max-width:92px;}
.header_box .header_right_navigate{position:absolute;top:-3px; right:0; height:60px;padding-right: 15px;}
.header_box .header_right_navigate ul{display:inline-block; padding:0 10px 0 0; margin-bottom:0;}
.header_box .header_right_navigate ul li{display:inline-block; padding:0 2px 0 16px;}
.header_box .header_right_navigate ul li:last-child{border-right:none;}
.header_box .header_right_navigate ul li a{font-size:15px; color:#fff; margin-top: 20px;}
.header_box .header_right_navigate ul li a:hover{text-decoration:none;}
.header_box_g{position:relative; height:30px; font-family:'supermarket';}
.left_navi_back_btn{display:inline-block; font-size:16px; color:#fff; margin-top: 10px;}
.right_navi_back_btn{display:inline-block; font-size:15px; color:#fff; margin-top: 15px;}
.right_navi_back_btn2:hover{text-decoration:none;}
.left_navi_back_btn:hover{text-decoration:none;}

.header_box{position:relative; height:45px; font-family:'supermarket';}

.header_box .header_center_navigate{position:absolute;top:4px;}
.header_box .header_center_navigate ul{display:inline-block; padding:0 10px 0 0; margin-bottom:0;}
.header_box .header_center_navigate ul li{display:inline-block; padding:0 2px 0 16px;}
/*.header_box .center_navigate ul li:last-child{border-right:none;}*/
.header_box .header_center_navigate ul li a{font-size:15px; color:#fff; margin-top: 20px;}
.header_box .header_center__navigate ul li a:hover{text-decoration:none;}

.right_navi_back_btn2{display:inline-block; font-size:16px; color:#fff; margin-top:15px;}
.right_navi_back_btn2:hover{text-decoration:none;}
/**************** End Template Header ****************/

/**************** Template Footer ****************/
.foot_bar{position:fixed; left:0; bottom:0; width:100%; height:35px;}
.foot_bar h4{color:#fff; height:48px; line-height:39px; font-family:'supermarket'; font-size: 16px;}
/**************** End Template Footer ****************/



.modal-dialog-center {margin-top: 25%;}
.text_line{ -moz-border-bottom-colors: none;-moz-border: none; border-color: #C0C0C0; -moz-use-text-color: #FFFFFF;  border-style: solid none;border-width: 1px 0;  margin: 20px 0;}
.text_apm{ font-size: 16px;line-height: 35pt; padding-left: 0px;}
.text_data{color: rgba(3, 1, 2, 0.84); margin-left: 20px;}
.text_title{border-bottom-color:#B4E0FF; font-size:20px;border-style: solid none; border-top:none;}
.head_title{background-color:#e6e6e5;font-size: 18px; padding: 10px;}
.head_title h4 span{color:#148de0;}
.bck_data{font-size: 15px; padding-right: 8px; padding-left: 8px; padding-bottom: 8px;padding-top: 25px; line-height: 40pt;}


.data_appointment_block{margin-bottom:20px; font-family:'supermarket';}
.data_appointment_block .bck_data{padding-top:30px; line-height:20px;}
.data_appointment_block .bck_data p{display:inline-block;}
.data_appointment_block span{color:#148de0;}
.data_appointment_block .bck_data .box_btn{margin-top:20px;}
.footer_btn_box{margin-top:50px;}

.btnn{display:inline-block; padding:10px 20px; border:none; line-height:1; font-size:14px; font-family:'supermarket'; color:#ffffff;; box-shadow:0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);}
.btnn:hover{text-decoration:none; opacity:0.8; color:#43b2ff;; transition:0.5s; box-shadow:0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);}
.btnn_sm{padding:7px 15px; font-size:13px;}

.btn_deep_blue{background:#0b51c5!important}
.btn_deep_blue2{background:#5a95f5!important}
.btn_blue{background-color:#5ba5e6;}
.btn_blue2{background-color:#607d8b;}
.btn_blue3{background-color:#C0C0C0;}
.btn_blue4{background-color:#42B0FD;}
.btn_blue_foot{background-color:#4285f4;}

/************************* Font Appointment *******************************/

.data_font16{color:#808080; font-size: 16px;}
/*.data_font_color_gray {color:#808080; font-size: 23px; font-family: 'supermarket'}*/
/*.data_font_color_blue {color:#43AFEB; font-size: 23px;}*/
.data_font_color_bl {color: #43b2ff; font-size: 16px;}
/*.data_font_color_blue_f {color: #43b2ff; font-size: 24px;}*/
.margins{padding-right: 5px;padding-left: 5px;}
.btn-search-btn{margin-top:28px; padding:5px; font-size:20px; color:#43b2ff; border:none; width:100%; border-radius:5px; transition:0.5s; box-shadow:0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);}
.btn-search-btn:hover{box-shadow:0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);}
.box_social_font{height:25px;color: #43AFEB;margin: -36px; margin-top: 25px; font-size: 16px;font-family:'supermarket'; padding-left: 0; padding-right: 0;text-align: center;}
.so_font{top: 20px; font-size: 14px;font-family: 'supermarket';color: #43B2FF}
.bg_search{background: #9EC6F1; height: 55px; width: 100%}
.mar_top27{margin-top: 27px;}
.font_color{color:#808080; font-size: 16px; font-family: 'supermarket'}
.pad15{padding-left: 15px;padding-right: 15px;}
.mar_top17{margin-top: 17px;}
.top47{top: 47px;}
.btn-search-btn2{margin-top:13px; padding:7px; font-size:16px; color:#43b2ff; border:none; width:100%; border-radius:5px; transition:0.5s; box-shadow:0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);}
.btn-search-btn2:hover{box-shadow:0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);}
.box_font{color: #43AFEB;font-size: 16px;font-family:'supermarket';}
.btn-search-btn3{margin-top:13px; padding:7px; font-size:16px;color: #ffffff; border:none; width:100%; border-radius:5px; transition:0.5s; box-shadow:0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12); background-color: #43AFEB;}
.btn-search-btn3:hover{box-shadow:0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);}
.head_blue{background-color:rgba(169, 216, 250, 0.7);height: 30px; margin-top: 7px;}
.font_gray{color:#999999;font-family: 'supermarket'}
.font_gray2{color: #666666; font-family: 'supermarket'}
.text_title2{border-bottom-color: rgba(55, 121, 178, 0.83);border-style: solid none; border-top:none;}
.border_left{border-style: solid none; border-top:none;border-bottom: none;border-left: thick dotted #A9D8FA}
.btn-search-btn4{margin-top:13px;font-size:16px;color: #ffffff; border:none; width:50%; border-radius:5px; transition:0.5s; box-shadow:0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12); background-color: #43AFEB;padding:8px}
.btn-search-btn4:hover{box-shadow:0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);}

.bg_thank{
    background: rgba(19, 186, 255, 0.40); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left,rgba(19, 186, 255, 0.40), #ffffff); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgba(19, 186, 255, 0.40), #ffffff); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgba(19, 186, 255, 0.40),#ffffff); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right,rgba(19, 186, 255, 0.40), #ffffff); /* Standard syntax (must be last) */
}

.header_box2{position:relative; font-family:'supermarket';}
.header_box2 #logo{
    max-width: 150px;}
.header_box2 .header_right_navigate{position:absolute;top:-3px; right:0; height:60px;padding-right: 15px;}
.header_box2 .header_right_navigate ul{display:inline-block; padding:0 10px 0 0; margin-bottom:0;}
.header_box2 .header_right_navigate ul li{display:inline-block; padding:0 2px 0 16px;}
.header_box2 .header_right_navigate ul li:last-child{border-right:none;}
.header_box2 .header_right_navigate ul li a{font-size:15px; color:#fff; margin-top: 20px;}
.header_box2 .header_right_navigate ul li a:hover{text-decoration:none;}
.header_box_g2{position:relative; height:30px; font-family:'supermarket';}
.left_navi